<!DOCTYPE html>
<html>
  <head>
    <!-- загружаем bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../static/about.css">
  </head>

  <body>
    <div id="aboutBlock">
        <h1>О проекте</h1>
        <p>Данный сайт позволяет скачивать и просматривать полноразмерные изображения из инстаграмма по ссылке на фото.</p>
        <p>Все, что вам требуется - это вписать в поле ссылку на фото из инстаграмма.</p>
        <p>Сервис загрузит фотографию из instagram.com по API, предоставляемому инстаграмом, после чего отобразит ее.</p>
        <p>Если ссылка будет валидной, то будет выведено фото и будет предложено ее скачать, нажав на кнопку download.</p>
        <p>Если же ссылка будет не валидной, или произойдет какая та ошибка - об этом будет сообщено.</p>
        <a href="/" class = "">Опробовать сервис</a>
    </div>

    <div id="statistics">
        <h1>Небольшая статистика</h1>
        <p>Количество посещений сервиса: {{vis_count}}</p>
        <p>Количество запросов на получение фото: {{req_count}}</p>
        <p>Количество скачиваний фото: {{dow_count}}</p>
    </div>

  </body>
</html>